

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Roboto:wght@100&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1: verdana, Genava, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3:   'Sriracha', cursive;

}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);

}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3em;

}
header > P {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;

}
section.normal{
    background-color: white;
    color: black;
}
section.imagen > p{
    display: inline-block;
    padding: 5px;
    background-color:rght ;
    text-shadow: 1px 1px 0px black;

}
section.imagem{
    background-color: rgb(58, 56, 56);
    padding: 5px;
    color: white;
    box-shadow: 6px 6px 13px 0px black;
    background-attachment: fixed;
}
section#imagen01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#imagen02{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;

}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.219);
    display: inline-block;
}
section>p{
    padding-bottom: 2em;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}